// detail view

.detailView__header
  background-color: $cowboyBlue
  width: 30rem
  height: 15rem
  padding-left: 10rem
  padding-top: 2rem

.detailView__backIcon
  color: white
  padding: 1rem
  position: absolute
  top: 0
  left: 0

.detailView__photo
  width: 10rem
  background-color: $cowboySilver
  border-radius: 10rem

.detailView__heading
  background-color: $cowboyBlue
  color: white
  padding: 2rem
  text-transform: capitalize

.detailView__list
  padding: 2rem

.detailView__contactItem
  list-style: none

.detailView__contactInfo
  display: inline-block
  text-transform: capitalize

.detailView__contactEmail
  text-transform: none
