// detail view

.detailView__header
  background-color: $cowboyBlue
  padding-top: 4rem
  padding-bottom: 4rem
  width: 100%

.detailView__backIcon
  color: white
  padding: 1rem
  position: absolute
  top: 0
  left: 0

.detailView__photo
  background-color: $cowboySilver
  border-radius: 30rem
  display: block
  margin: 0 auto
  width: 30rem

.detailView__heading
  background-color: $cowboyBlue
  color: white
  padding: 2rem
  text-transform: capitalize

.detailView__contactIcon
  padding-left: 4rem
  padding-right: 2rem

.detailView__contactItem
  background-color: white
  border-bottom: 1px solid rgb(230, 230, 230)
  list-style: none
  padding-top: 1rem
  padding-bottom: 1rem
  width: 100%

.detailView__contactInfo
  display: inline-block
  font-size: 5rem
  text-transform: capitalize

.detailView__contactEmail
  text-transform: none

.detailView__contactState
  text-transform: uppercase

@media (min-width: 768px)
  .detailView
    margin: 0 auto
    width: 75%

  .detailView__contactInfo
    font-size: 4rem

// smart device breakpoints
@media only screen and (max-device-width: 1024px)
  .detailView
    width: 100%
  .fa-3x
    width: 200%
