// list view

.listView__heading
  background-color: $cowboyBlue
  color: white
  padding: 2rem
  text-transform: capitalize

.listView__contact
  border-bottom: 1px solid rgb(230, 230, 230)
  display: block
  padding: 1rem
  padding-left: 1.5rem

.listView__contact--fullName
  color: $cowboyBlue
  display: inline-block
  height: 5rem
  font-size: 1.5rem
  list-style: none
  padding-top: 1.75rem
  padding-left: 1rem
  text-decoration: none
  text-transform: capitalize
  vertical-align: top
  width: 15rem

.listView__contact--image
  background-color: $cowboyBlue
  border-radius: 5rem
  width: 5rem
